.App {
  display: inline-block;
  border: 1px solid red;
  padding: 64px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: move;
  position: absolute;
  top: 0;
  left: 0;
}

.node {
  cursor: default;
  width: 200px;
  height: 200px;
  background-color: green;
}
