.App {
  display: inline-block;
  border: 1px solid red;
  padding: 64px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: move;
  position: absolute;
  top: 0;
  left: 0;
}

.tree-node {
  cursor: default;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px;
}

.tree-node-children {
  display: flex;
  justify-content: center;
  align-items: center;
}
