.card {
  width: 100px;
  height: 100px;
  border: 1px solid blue;
  margin: 8px;
  cursor: pointer;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.children {
  display: flex;
  align-items: flex-start;
}
