.card {
  width: 100px;
  height: 100px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-content {
  width: 100px;
  border: 1px solid blue;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.children {
  display: flex;
  align-items: flex-start;
}

svg {
  border: 1px solid red;
  width: 100%;
}
